.create-post-container {
    width: 100%;
    .content_area {
        padding-inline: 5vw;
        padding-block: 50px;

        .create_post_title {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            color: #0d0c0c;
        }

        .create_post_main {
            justify-content: space-between;
            height: 528px;

            .title_n_content {
                flex-direction: column;
                width: 680px;

                input,
                textarea {
                    width: 90%;
                    outline: none;
                    border: 2px solid #bcbcbc;

                    &:hover,
                    &:focus {
                        border-color: var(--secondary-color);
                    }
                }

                input[type="text"] {
                    height: 60px;
                    padding: 6px 12px;
                    box-sizing: border-box;
                    background-color: #bcbcbc;
                    color: rgb(51, 51, 51);
                }

                textarea {
                    height: 250px;
                    background-color: #bcbcbc;
                    padding: 12px 8px;
                    box-sizing: border-box;
                    font-size: 16px;
                    resize: none;
                    color: rgb(51, 51, 51);
                }

                label {
                    font-weight: 400;
                    font-size: 27px;
                    line-height: 29px;
                    margin-top: 50px;
                    margin-bottom: 20px;
                }
            }

            .side_form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 680px;
                height: 100%;

                .side_form_upload_image {
                    .side_form_title {
                        margin-top: 50px;
                        margin-bottom: 20px;
                        line-height: 29px;
                    }

                    .image_n_preview {
                        width: 100%;
                        justify-content: space-between;

                        .Neon {
                            font-family: sans-serif;
                            font-size: 14px;
                            color: #494949;
                            position: relative;

                            input {
                                display: none;
                            }
                        }
                        .Neon * {
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                        }
                        .Neon-input-dragDrop {
                            display: flex;
                            width: 300px;
                            height: 200px;
                            padding: 25px;
                            color: #777777;
                            font-weight: 300;
                            font-size: 16px;
                            background: #fff;
                            border: 2px dashed #c8cbce;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            -webkit-transition: box-shadow 0.3s, border-color 0.3s;
                            -moz-transition: box-shadow 0.3s, border-color 0.3s;
                            transition: box-shadow 0.3s, border-color 0.3s;

                            cursor: pointer;

                            &:hover {
                                border-style: solid;
                                border-color: var(--secondary-color);
                            }
                        }

                        .preview_image {
                            width: 300px;
                            height: 200px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .button_area {
                    justify-content: start;

                    button {
                        width: 200px;
                        height: 60px;
                        color: white;
                        font-weight: 500;
                        font-size: 24px;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        transition: all 100ms ease-in-out;
                        align-items: center;
                        justify-content: center;
                    }

                    .save_button {
                        background: var(--secondary-color);

                        &:hover {
                            color: var(--secondary-color);
                            background-color: #fff;
                            border: 2px solid var(--secondary-color);
                        }
                    }

                    .block_button {
                        pointer-events: none;
                        color: #7a7a7a;
                        user-select: none;
                        cursor: default;
                    }

                    .cancel_button {
                        background: #bfc5c8;
                        margin-left: 50px;

                        &:hover {
                            background-color: #000;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1192px) {
    .create-post-container {
        .content_area {
            .create_post_title {
                text-align: center;
            }

            .create_post_main {
                flex-direction: column;
                align-items: center;
                height: fit-content;

                .title_n_content,
                .side_form {
                    width: 100%;
                    align-items: center;
                }

                .title_n_content {
                    input,
                    textarea {
                        width: 650px;
                    }
                }

                .side_form {
                    .side_form_upload_image {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .image_n_preview {
                            width: 100%;
                            justify-content: center;

                            .preview_image {
                                margin-left: 30px;
                            }
                        }
                    }

                    .button_area {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}
