.gym-detail-container {
    width: 100%;
    height: 100%;
    padding-inline: 10vw;

    .content_area {
        display: flex;
        flex-direction: column;

        .title_area {
            margin: 50px 0px;
            padding: 5px;

            .avatar {
                height: 80px;
                width: 80px;
                box-shadow: 0 0 5px;
            }

            .gym_name {
                font-weight: 400;
                font-size: 36px;
                line-height: 44px;
                color: #0D0C0C;
                margin-left: 50px;
                align-self: center;
            }
        }

        .gym_info_area {

            justify-content: space-between;

            .gym-info-right,
            .gym-info-left {

                .introduce {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 29px;
                    color: #0D0C0C;
                    margin-bottom: 15px;
                }

                .introduce_content {
                    font-style: italic;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 1.5;
                    color: #0D0C0C;
                    margin-bottom: 30px;
                    white-space: break-spaces;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                }

                .gym_image_container {
                    margin-bottom: 50px;

                    img.gym_image {
                        width: 240px;
                        height: 220px;
                        object-fit: cover;
                        margin-right: 50px;
                    }
                }

                .gym_options_container{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: auto;
                    grid-row-gap: 30px;
                }

                div.gym_image {

                    width: 240px;
                    object-fit: cover;
                    margin-right: 50px;

                    img {
                        width: 240px;
                        height: 220px;
                        object-fit: cover;
                    }

                    .gym_options {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 20px;
                        color: #6d6d6d;
                        margin-top: 10px;
                        text-align: center;
                    }
                }
            }

            .gym-info-left {
                width: 820px;
            }

            .gym-info-right {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                overflow: hidden;

                .googlemap {
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }
            }

            .separation-line{
                width: 1px;
                border-left: 1px dashed #ccc;
                background-color:transparent;
                margin: 0 30px;
            }
        }
    }
}