.login{

    height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 150px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    .image-login{
        width: fit-content;
        height: 500px;
        overflow: hidden;
        box-shadow:  -5px 0 10px var(--shadow-color);
        img {
            height: 100%;
        }
    }

    .login-form{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px var(--shadow-color);
        padding: 15px;
        box-sizing: border-box;

        label {
            user-select: none;
        }

        p.title{
            font-size: 25px;
            font-weight: 600;
        }

        .form-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            position: relative;

            label {
                margin-bottom: 10px;
                font-weight: 550;
                font-size: 16px;
            }

            input {
                height: 40px;
                border: none;
                border-radius: 5px;
                background-color: #ccc;
                outline: 1px solid #ccc;
                padding: 0 10px;
                color: #595959;

                &:focus, &:hover {
                    outline: 2px solid var(--primary-color);
                }
            }

            #eye-icon {
                position: absolute;
                bottom: 8px;
                right: 15px;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        input[type = "submit"]{
            width: 100%;
            height: 40px;
            font-size: 16px;
            font-weight: 550;
            color: #fff;
            background-color: var(--primary-color);
            margin-top: 40px;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 5px #5a5a5a;
            }
        }

        a {
            color: var(--primary-color)
        }

        .sign-up-link, .forgot-password{
            font-size: 14px;
            margin-top: 15px;
            font-style: italic;
            width: 100%;
        }

        .sign-up-link>a, .forgot-password {
            font-weight: bold;
            &:hover {
                color: rgb(41, 37, 245);
            }
        }

        .forgot-password {
            text-align: right;
        }

        .sign-up-link {
            text-align: center;
            margin-top: 30px;
        }
    }
} 